.grid {
    &--wrap {
        padding: 10px 0 20px;
        transition: .3s;

        @media screen and (max-width: 475px) {
            max-width: 350px;
            margin: 0 auto;
        }

        > .container {
            padding: 0 10px;
        }

        &.list-wrap {
            @media screen and (max-width: 475px) {
                max-width: 100%;
            }
        }
    }
}



// Размеры
.card {
    width: calc(100% / 4);

    @media screen and (max-width: 1420px) {
        width: calc(100% / 3);
    }

    @media screen and (max-width: 1070px) {
        width: calc(100% / 2);
    }

    @media screen and (max-width: 475px) {
        width: 100%;
        max-width: 350px;
    }
}

// Стили
.card {
    padding: 10px;
    font-size: .9rem;
    line-height: 115%;

    &--wrap {
        position: relative;
        transition: .3s;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(@black, .25);

        &::after {
            position: absolute;
            top: 20px;
            right: 20px;
            border-radius: 5px;
            background-color: @white;
            line-height: 0;

            filter: drop-shadow(0px 4px 4px rgba(@black, .14));

            @media screen and (max-width: 575px) {
                top: 10px;
                right: 10px;
            }
        }
    }

    &:hover {
        .card--wrap {
            box-shadow: 0px 4px 4px rgba(@black, .35);
        }
    }

    &.opened {
        .card--wrap {
            box-shadow: 0px 4px 4px rgba(@black, .45);
        }

        .extra {
            max-height: 600px;
            opacity: 1;
        }
    }

    .mark {
        position: absolute;
        top: 15px;
        right: 10px;

        svg {
            width: 30px;
            height: 30px;
            transition: .2s;

            fill: transparent;
            stroke: @grey4;
            stroke-width: 2;
        }

        &:hover {
            svg {
                filter: drop-shadow(0 0 1px rgba(@black, 50%));
                stroke: @grey6;
            }
        }

        @media screen and (max-width: 575px) {
            right: 10px;

            svg {
                width: 20px;
                height: 20px;
            }
        }

        @media screen and (max-width: 350px) {
            right: 5px;
        }

        &.saved {
            svg {
                fill: @yellow1;
                stroke: none;
            }
        }
    }


    &--img {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        max-width: 100%;
        // max-width: 550px;
        cursor: pointer;

        img {
            width: 100%;
            // max-width: 50%;
            height: auto;
            // max-height: 195px;
            border-radius: 15px;
        }

        &-wrap {
            display: flex;
            align-content: space-around;
            flex-wrap: wrap;
            justify-content: space-evenly;
            height: 195px;
            max-height: 195px;

            > img, > div {
                width: 50%;
                max-width: 125px;
                height: 50%;
                max-height: 90px;
            }

            .load-yet {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 125px;
                padding: 0 20px;
                text-align: center;
                color: @grey7;
                border-radius: 15px;
                background: #F4F4F4;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }

    &__main {
        position: relative;
        padding: 20px 25px;
        color: @greymain;

        @media screen and (max-width: 450px) {
            padding: 10px 15px;
        }

        &--title {
            position: relative;
            margin-right: 35px;
            margin-bottom: 10px;
            cursor: pointer;
            font: 1rem/115% @FFRRegular;

            @media screen and (max-width: 575px) {
                margin-right: 25px;
                font-size: .9rem;
            }
        }

        &--city {
            margin-bottom: 5px;
            color: @greymain;
            font: .7rem/115% @FFRLight;
        }

        &--price {
            margin-bottom: 10px;
            font: 1.2rem/115% @FFRBold;
        }

        &--desc {
            margin-bottom: 5px;
            font: .7rem/115% @FFRRegular;
        }

        &--link {
            display: inline-block;
            padding: 5px 0;
            color: @blue2;
            font: .7rem/115% @FFRRegular;

            &::before {
                background: @blue2;
            }
        }

        &--map {
            margin: 10px 0;

            img {
                width: 100%;
                max-width: 100%;
                height: 115px;
                border: 1px solid @grey8;
                border-radius: 15px;

                object-fit: cover;
            }
        }
    }

    &__note {
        margin: 10px 0;

        form {
            overflow: hidden;
            max-height: 0;
            transition: .3s;
        }

        &.detail__note {
            textarea {
                min-height: 80px;
                padding: 7px 5px;
            }

            @media screen and (max-width: 450px) {
                .detail__note {
                    &--textarea {
                        > div {
                            padding: 5px 3px 8px;
                        }
                    }

                    &--btn {
                        font-size: .7rem;
                    }
                }
            }
        }

        span {
            display: block;
            margin-bottom: 5px;
            cursor: pointer;
            transition: .3s;
            color: @grey2;
            font: .8rem/115% @FFRLight;

            &.hide {
                display: none;
            }

            &:hover {
                color: @greymain;
            }
        }

        input:checked {
            ~ label span {
                &.hide {
                    display: block;
                }

                &.show {
                    display: none;
                }
            }

            ~ form {
                max-height: 300px;
            }
        }
    }

    .extra {
        overflow: hidden;
        max-height: 0;
        transition: .3s ease-in-out;
        opacity: 0;
    }

    .info {
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5px;

        .review {
            display: flex;
            align-items: center;
            flex-direction: row;
            color: @grey2;
            font-size: .7rem;
            line-height: 105%;

            svg {
                width: 17px;
                height: 12px;
                margin-left: 10px;

                fill: @grey2;
            }
        }
    }

    &.massanger:not(.instagram) {
        .card {
            &--wrap {
                padding: 20px 0 30px;
            }

            &--img {
                svg {
                    width: auto;
                    max-height: 110px;
                    margin: 0 auto;
                }
            }

            &--title {
                margin-top: 5px;
                text-align: center;
                color: @white;
                font: .9rem/115% @FFRRegular;
            }
        }
    }

    &.whatsapp {
        .card {
            &--wrap {
                background-color: @whatsapp;
            }
        }
    }

    &.telegram {
        .card {
            &--wrap {
                background-color: @telegram;
            }
        }
    }

    &.instagram {
        .card {
            &--wrap {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                min-height: 450px;
                padding: 15px;
                background-image: url(/assets/img/card/instagram.jpg);
                background-position: center;
                background-size: cover;
            }

            &--img {
                margin-top: 15px;
            }

            &--title {
                text-align: center;
            }

            @media screen and (max-width: 575px) {
                &--wrap {
                    min-height: 250px;
                }

                &--title {
                    text-shadow: 0 0 3px rgba(@black, .45);
                }
            }
        }
    }

    &.house, &.apartment, &.quarter {
        .card--wrap {
            background-color: @white;
        }
    }

    &.house {
        .card--wrap:after {
            content: url(/assets/img/icons/house.svg);
        }
    }

    &.apartment {
        .card--wrap:after {
            content: url(/assets/img/icons/apartment.svg);
        }
    }

    &.quarter {
        .card--wrap {
            display: block;

            &:after {
                content: url(/assets/img/icons/quarter.svg);
            }
        }

        .info {
            justify-content: flex-end;
        }
    }

    &.input {
        .card {
            &--wrap {
                background-color: @white;
            }

            &__main {
                &--title {
                    text-align: center;
                    color: @greymain;
                    font: 1.2rem/115% @FFRMedium;
                }

                input {
                    &[type="text"] {
                        width: 100%;
                        padding: 10px 15px;
                        transition: .3s;
                        border: 1px solid@grey4;
                        border-radius: 15px;
                        outline: none;
                        background: @grey4;
                        font: 1rem/115% @FFRRegular;

                        &::placeholder {
                            transition: .2s;
                            color: @grey8;
                        }

                        &:hover, &:focus {
                            border: 1px solid @greymain;
                        }

                        &:focus::placeholder {
                            opacity: 0;
                        }
                    }
                }

                &--link {
                    display: block;
                    margin: 20px auto 0;
                    border: none;
                    background: none;
                    font: 1.2rem/115% @FFRRegular;

                    &::before {
                        bottom: 3px;
                    }
                }
            }

            &--text {
                margin-top: 35px;
                padding: 0 25px;
                text-align: center;
                color: @black;
            }
        }
    }

    &.offer {
        display: flex;
        align-items: center;
        justify-content: center;

        .card--wrap {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            box-shadow: none;
        }

        .offer {
            &__icon {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 60px;
                transition: .3s;
                border-radius: 50%;
                background-color: @white;
                box-shadow: 0px 4px 4px rgba(@black, .25);

                svg {
                    width: 108px;
                    height: 108px;
                    transition: .3s;

                    fill: @greymain;
                }
            }

            &__text {
                margin-top: 25px;
                padding: 0 25px;
                transition: .3s;
                text-align: center;
                color: @greymain;
                font: 1.2rem/115% @FFRRegular;
            }
        }

        &:hover {
            .offer {
                &__icon {
                    box-shadow: 0px 4px 4px rgba(@black, .45);

                    svg {
                        fill: @greymain;
                    }
                }

                &__text {
                    color: @greymain;
                    text-shadow: 0 0 2px rgba(@black, .25);
                }
            }
        }
    }

    &.map {
        .card--wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 70px;
            color: @black;
            background: url(/assets/img/background/map-btn.jpg);
            background-position: center;
            background-size: cover;
            box-shadow: none;
            box-shadow: 0px 4px 4px rgba(@black, .25);
            font: 1.1rem/115% @FFRMedium;

            &:hover {
                box-shadow: 0px 4px 4px rgba(@black, .35);
            }
        }
    }

    &.dzen {
        .card--wrap {
            padding: 15px 20px 20px;
            background-color: @white;
        }

        a {
            display: inline-block;
            padding: 5px;
            color: @blue2;

            &::before {
                background-color: @blue2;
            }
        }

        .dzen {
            &__img {
                margin-bottom: 5px;

                svg {
                    display: block;
                    width: auto;
                    max-width: 175px;
                    height: 35px;
                    margin: 0 auto;
                }

                @media screen and (max-width: 575px) {
                    svg {
                        height: 25px;
                    }
                }
            }

            &__author {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                img {
                    margin: 10px auto;
                    border-radius: 100%;
                }

                .link::before {
                    background-color: @blue2;
                }
            }

            &__post {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin: 7px auto 15px;
                text-align: center;

                &--title {
                    color: @black;
                    font: 1.1rem/115% @FFRMedium;
                }

                &--text {
                    margin: 10px auto 10px;
                    color: @greymain;
                    font: .7rem/115% @FFRLight;
                }
            }

            &__info {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
                font-size: .6rem;

                > div {
                    display: flex;
                    align-items: center;
                    flex-direction: row;

                    svg {
                        width: 15px;
                        height: 15px;
                        margin-right: 5px;

                        fill: @grey2;
                    }
                }

                &--date {
                    color: @greymain;
                    font-size: .7rem;
                }

                &--time, &--views {
                    color: @grey2;
                }
            }
        }
    }
}

.grid {
    .card {
        &--img {
            &-wrap {
                display: none;
            }
        }
    }

    .card.quarter {
        .card {
            &__main--map {
                &.map-on-list {
                    display: none;
                }

                &.map-on-grid {
                    display: flex;
                }
            }
        }
    }
}

.list {
    .card {
        width: 100%;

        @media screen and (max-width: 475px) {
            max-width: 100%;
            padding: 5px 0;

            .mark {
                top: 5px;
            }
        }

        &.map {
            .card--wrap {
                @media screen and (max-width: 575px) {
                    padding: 15px;
                }
            }
        }

        &.opened {
            .card--wrap {
                box-shadow: 0px 4px 4px rgba(@black, .25);
            }
        }

        &.massanger {
            &:not(.instagram) {
                .card {
                    &--wrap {
                        padding: 5px 20px;
                    }

                    &--img {
                        svg {
                            width: 50px;
                            max-height: 50px;
                        }
                    }

                    &--title {
                        margin: 0 0 0 15px;
                        text-align: left;

                        br {
                            display: none;
                        }
                    }
                }
            }
        }

        &.offer {
            .card--wrap {
                flex-direction: row;
                justify-content: flex-start;
                width: 100%;
                padding: 10px 20px;
                background: @white;
                box-shadow: 0px 4px 4px rgba(@black, .25);
            }

            .offer {
                &__icon {
                    width: 55px;
                    height: 55px;
                    padding: 0;
                    background: unset;
                    box-shadow: none;
                }

                &__text {
                    margin: 0 30px;
                    padding: 0;
                }
            }

            &:hover {
                .card--wrap {
                    box-shadow: 0px 4px 4px rgba(@black, .35);
                }
            }
        }

        &.instagram {
            .card {
                &--wrap {
                    flex-direction: row-reverse;
                    justify-content: flex-end;
                    min-height: unset;
                }

                &--img {
                    max-width: unset;
                    margin-top: 0;
                    margin-right: 30px;

                    > img {
                        width: 100%;
                        max-width: 260px;
                        height: unset;
                        max-height: unset;
                    }
                }

                @media screen and (max-width: 575px) {
                    &--img {
                        max-width: 40%;
                        margin-right: 0;
                    }

                    &--title {
                        font-size: .7rem;
                    }
                }
            }
        }

        &.dzen {
            .dzen {
                @media screen and (min-width: 575px) {
                    &__img {
                        margin-bottom: 0;
                    }

                    &__author img {
                        width: 85px;
                        height: 85px;
                        margin: 5px auto;
                    }

                    &__post {
                        align-items: flex-start;
                        width: auto;
                        margin-top: 0;
                        margin-left: 30px;
                        text-align: left;

                        &--title {
                            margin-top: 0;
                        }
                    }

                    &__info {
                        justify-content: unset;
                        margin-left: 30px;

                        > div {
                            margin-right: 20px;
                        }
                    }
                }
            }

            @media screen and (max-width: 574px) {
                .card--wrap {
                    flex-direction: column;
                }
            }
        }


        &.quarter {
            .card {
                &--wrap {
                }

                &__main--map {
                    &.map-on-list {
                        display: flex;
                        max-width: calc(550px / 2 - 10px);
                        margin: 0;


                        > img {
                            max-width: 100%;
                            height: 175px;
                            max-height: 175px;
                            margin-left: 10px;
                        }

                        @media screen and (max-width: 975px) {
                            display: none;
                        }
                    }

                    &.map-on-grid {
                        display: none;
                    }
                }

                &--img {
                    max-width: calc(550px / 2);

                    &-wrap {
                        display: none;
                    }

                    > img {
                        max-width: 100%;
                    }
                }
            }
        }

        &.input {
            .card--text {
                display: none;
            }

            @media screen and (min-width: 575px) {
                .card__main {
                    flex-direction: row;

                    &--title {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        margin: 0;
                    }

                    &--link {
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }

        &--wrap {
            display: flex !important;
            align-items: center;
            flex-direction: row;

            &:after {
                right: unset;
                left: 20px;

                @media screen and (max-width: 475px) {
                    top: 0px;
                    left: 0px;
                    transform: scale(.7);
                }
            }
        }

        &--img {
            max-width: 550px;

            img {
                object-fit: cover;
            }

            > img {
                max-width: 50%;
                height: 195px;
                max-height: 195px;
            }

            @media screen and (max-width: 975px) {
                > img {
                    width: 250px;
                    max-width: unset;
                }

                &-wrap {
                    display: none;
                }
            }

            @media screen and (max-width: 475px) {
                > img {
                    width: 100px;
                    height: 100px;
                }
            }
        }

        &__main {
            display: flex;
            flex-direction: column;
            width: 100%;

            &--desc {
                display: none;
            }

            @media screen and (max-width: 475px) {
                &--city, &--price {
                    display: none;
                }
            }

            @media screen and (max-width: 375px) {
                padding: 5px;

                &--title {
                    margin-bottom: 5px;
                    font-size: 12px;
                }
            }
        }

        &__note {
            display: none;
        }

        .extra {
            max-height: 600px;
            opacity: 1;
        }
    }
}