.detail {
    padding: 20px 0;
    color: #4C4C51;

    h2 {
        margin: 20px 0;
        font: 2.4rem/115% @FFRBold;
    }

    h3 {
        margin: 80px 0 35px;
        font: 1.8rem/115% @FFRBold;

        @media screen and (max-width: 1440px) {
            margin: 30px 0;
        }
    }

    h4 {
        margin: 25px 0;
        font: 1.2rem/115% @FFRBold;
    }

    &__price {
        margin: 30px 0;
        font: 1.8rem/115% @FFRBold;
    }

    &__image {
        margin: 0 -10px;

        .grid {
            &--row {
                display: flex;
                flex-direction: row;
                width: 100%;

                > .item {
                    width: 50%;
                }
            }

            &--column {
                display: flex;
                flex-direction: column;
                width: 50%;

                > .item {
                    width: 100%;
                    height: 100%;
                }
            }

            &--wrapper {
                display: flex;
                flex-wrap: wrap;

                > .item {
                    width: 25%;
                }
            }
        }

        @media screen and (max-width: 924px) {
            > .grid--row {
                flex-direction: column;

                > .grid--column {
                    width: 100%;

                    &:first-child {
                        .item {
                            overflow: hidden;
                            width: calc(100% - 8px);
                            max-height: 500px;
                            margin: 4px;
                            padding: 0;
                            border-radius: 15px;
                        }
                    }

                    &:last-child {
                        overflow: auto;
                        flex-direction: row;

                        > .grid--row {
                            flex-direction: column;
                            width: 20%;
                            min-width: 120px;

                            > .item {
                                width: 100%;
                            }
                        }

                        > .grid--wrapper {
                            width: 80%;
                            min-width: calc(120px * 4);
                        }

                        > .grid--row, > .grid--wrapper {
                            .item {
                                min-width: 120px;
                                min-height: 120px;

                                img {
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .item {
            display: flex;
            align-items: center;
            padding: 10px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 15px;

                object-fit: cover;
            }
        }

        @media screen and (max-width: 1480px) {
            margin: 0 -4px;

            .item {
                padding: 4px;
            }
        }
    }



    @media screen and (max-width: 975px) {
        h4 {
            font-size: 1rem;
        }

        h2, h3 {
            font-size: 1.5rem;
        }

        &__price {
            font-size: 1.2rem;
        }
    }

    &__info {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        margin: 20px 0 40px;

        &--descr {
            width: 100%;
            color: black;
            font: .9rem/115% @FFRRegular;

            p {
                margin-bottom: .9rem;
            }
        }

        &--map {
            display: flex;
            overflow: hidden;
            align-items: center;
            width: 100%;
            max-width: 340px;
            max-height: 300px;
            margin-left: 40px;
            transition: ease-in-out .3s;
            border-radius: 15px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);

            img {
                width: 100%;
                height: 100%;

                object-fit: cover;
            }

            &:hover, &:focus {
                box-shadow: 0px 4px 4px rgba(0, 0, 0, .4);
            }
        }

        @media screen and (max-width: 1024px) {
            flex-direction: column;

            &--map {
                max-width: unset;
                margin: 10px auto 0;
            }
        }

        @media screen and (max-width: 575px) {
            &--map {
                max-height: 160px;
            }
        }
    }

    &__contacts {
        display: flex;
        flex-direction: row;

        &--wrap {
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            width: 100%;
        }

        .detail__card {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            min-width: 290px;
            max-width: 340px;
            padding: 40px 25px;
            border-radius: 15px;
            background-color: white;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);

            &:not(.form) {
                margin: 0 20px 0 0;
            }

            > div {
                text-align: center;
            }

            &--image {
                display: flex;
                overflow: hidden;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 210px;
                margin-bottom: 18px;
                border-radius: 100%;

                img {
                    width: 100%;

                    object-fit: cover;
                }
            }

            &--name {
                margin: 18px 0 5px;
                font: 1.2rem/115% @FFRBold;
            }

            &--post {
                margin: 5px 0 15px;
                font: .9rem/115% @FFRLight;
            }

            &--tel {
                margin: 15px 0;
                font: 1.2rem/115% @FFRRegular;
            }

            &--email, &--time {
                font: .9rem/115% @FFRLight;
            }

            &--email {
                margin: 15px 0 .45rem;
            }

            &--time {
                margin-top: .45rem;
            }

            @media screen and (max-width: 575px) {
                padding: 20px;

                &--image {
                    max-width: 150px;
                    margin-bottom: 10px;
                }

                &--name {
                    margin: 10px 0 3px;
                }

                &--post {
                    margin: 3px 0 7px;
                }

                &--tel {
                    margin: 7px 0;
                }
            }
        }

        @media screen and (max-width: 1024px) {
            flex-direction: column;

            &--wrap {
                align-items: unset;
                justify-content: center;
                margin-bottom: 20px;

                .detail__card:last-child {
                    margin: 0;
                }
            }

            .form {
                margin: 0 auto;
            }
        }

        @media screen and (max-width: 665px) {
            &--wrap {
                align-items: center;
                flex-direction: column;
                margin-bottom: 0;
            }

            .detail__card {
                margin: 0 auto 20px !important;
            }
        }

        @media screen and (max-width: 450px) {
            .detail__card.form {
                max-width: 340px !important;
                margin: 0 auto;
            }
        }
    }

    &__card-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        transition: .3s;

        @media screen and (max-width: 475px) {
            .card {
                width: calc(100% / 2);
                padding: 3px;

                &__main {
                    padding: 10px 12px;

                    &--title {
                        font-size: .7rem;
                    }

                    &--price {
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}