.detail {
    padding: 20px 0;
    color: @greymain;

    &__title {
        position: relative;
        margin: 20px 0;
        padding-right: 70px;
        font: 2.4rem/115% @FFRBold;

        @media screen and (max-width: 765px) {
            padding-right: 50px;
        }

        .mark {
            position: absolute;
            top: 0px;
            right: 10px;

            svg {
                width: 60px;
                height: 60px;
                transition: .2s;

                fill: transparent;
                stroke: @grey8;
                stroke-width: 2;
            }

            &:hover {
                svg {
                    filter: drop-shadow(0 0 1px rgba(@black, 50%));
                    stroke: @grey6;
                }
            }

            @media screen and (max-width: 765px) {
                right: 0;

                svg {
                    width: 40px;
                    height: 40px;
                }
            }

            @media screen and (max-width: 570px) {
                top: 5px;

                svg {
                    width: 25px;
                    height: 25px;
                }
            }

            &.saved {
                svg {
                    fill: @yellow1;
                    stroke: none;
                }
            }
        }
    }

    h3 {
        margin: 80px 0 35px;
        font: 1.8rem/115% @FFRBold;

        + h5 {
            margin-top: -20px;
        }

        @media screen and (max-width: 1440px) {
            margin: 30px 0;
        }
    }

    h4 {
        margin: 25px 0;
        font: 1.2rem/115% @FFRBold;
    }

    h5 {
        margin-bottom: 15px;
        color: rgba(@black1, 67%);
        font-size: .8rem/115% @FFRRegular;
    }

    &__price {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin: 30px 0;
        font: 1.8rem/115% @FFRBold;

        &--jk {
            margin: 10px 0;
            padding-left: 20px;
            font-family: @FFRRegular;

            span {
                font-family: @FFRBold;
            }
        }

        a {
            display: inline-block;
            margin: 10px 0;
            color: @blue1;
            font: 1.1rem/115% @FFRRegular;

            &::before {
                background: @blue1;
            }

            @media screen and (max-width: 445px) {
                font-size: .9rem;
            }
        }
    }

    &__plans {
        &--gallery {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 30px;

            .item {
                width: calc(100% / 4 - 10px);
                color: @greymain;

                img {
                    width: 100%;
                    border-radius: 15px;
                }

                &--title {
                    margin: 15px 0 0 15px;
                    font: .9rem/115% @FFRBold;
                }

                &--sq {
                    margin: 0 0 0 15px;
                    font: .9rem/115% @FFRRegular;
                }

                &:nth-child(n+5) {
                    display: none;
                }
            }

            @media screen and (max-width: 625px) {
                flex-wrap: wrap;

                .item {
                    width: calc(100% / 2 - 10px);
                    margin-bottom: 20px;
                }
            }

            @media screen and (max-width: 445px) {
                .item--title, .item--sq {
                    font-size: .8rem;
                }
            }
        }
    }

    &__image {
        margin: 0 -10px;

        .grid {
            &--row {
                display: flex;
                flex-direction: row;
                width: 100%;

                > .item {
                    width: 50%;
                }
            }

            &--column {
                display: flex;
                flex-direction: column;
                width: 50%;

                > .item {
                    width: 100%;
                    height: 100%;
                }
            }

            &--wrapper {
                display: flex;
                flex-wrap: wrap;

                > .item {
                    width: 25%;
                }
            }
        }

        @media screen and (max-width: 924px) {
            > .grid--row {
                flex-direction: column;

                > .grid--column {
                    width: 100%;

                    &:first-child {
                        .item {
                            overflow: hidden;
                            width: calc(100% - 8px);
                            max-height: 500px;
                            margin: 4px;
                            padding: 0;
                            border-radius: 15px;
                        }
                    }

                    &:last-child {
                        overflow: auto;
                        flex-direction: row;

                        > .grid--row {
                            flex-direction: column;
                            width: 20%;
                            min-width: 120px;

                            > .item {
                                width: 100%;
                            }
                        }

                        > .grid--wrapper {
                            width: 80%;
                            min-width: calc(120px * 4);
                        }

                        > .grid--row, > .grid--wrapper {
                            .item {
                                min-width: 120px;
                                min-height: 120px;

                                img {
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .item {
            display: flex;
            align-items: center;
            padding: 10px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 15px;

                object-fit: cover;
            }
        }

        @media screen and (max-width: 1480px) {
            margin: 0 -4px;

            .item {
                padding: 4px;
            }
        }
    }

    @media screen and (max-width: 975px) {
        h4 {
            font-size: 1rem;
        }

        &__title, h3 {
            font-size: 1.5rem;
        }

        &__price {
            font-size: 1.2rem;
        }
    }

    &__info {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        margin: 20px 0 40px;

        &--descr {
            width: 100%;
            color: @black;
            font: .9rem/115% @FFRRegular;

            p {
                margin-bottom: .9rem;
            }

            a {
                max-width: 505px;
                margin: 10px 0;

                @media screen and (max-width: 1024px) {
                    max-width: 600px;
                    margin: 15px auto 10px;
                }
            }
        }

        &--map {
            display: flex;
            overflow: hidden;
            align-items: center;
            width: 100%;
            transition: ease-in-out .3s;
            border-radius: 15px;
            box-shadow: 0px 4px 4px rgba(@black, .25);

            img {
                width: 100%;
                height: 100%;

                object-fit: cover;
            }

            &-cont {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                max-width: 340px;
                height: 100%;
                max-height: 400px;
                margin-left: 40px;

                a {
                    width: 100%;
                    margin: 40px 0 20px;
                    text-align: center;
                }
            }
        }

        @media screen and (max-width: 1024px) {
            flex-direction: column;

            &--map-cont {
                max-width: 600px;
                margin: 40px auto 0;

                a {
                    margin: 20px 0;
                }
            }
        }

        @media screen and (max-width: 575px) {
            &--map-cont {
                max-height: 330px;
            }
        }
    }

    &__note {
        form {
            position: relative;
            max-width: 690px;
        }

        textarea {
            overflow: auto;
            box-sizing: border-box;
            width: 100%;
            height: auto;
            min-height: 130px;
            padding: 10px 15px;
            resize: none;
            transition: .3s;
            color: @grey7;
            border: none;
            outline: none;
            background: transparent;
            text-shadow: 0 0 1px rgba(@black, 30%);
            font: .8rem/115% @FFRLight;
        }

        &--textarea {
            overflow: hidden;
            border: 1px solid @grey8;
            border-radius: 15px;
            background: @yellow2;

            > div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 5px 15px 15px;
            }

            &:hover, &:focus {
                border: 1px solid @grey7;
            }
        }

        &--btn {
            cursor: pointer;
            transition: .3s;
            border: none;
            outline: none;
            background: none;
            font: .8rem/115% @FFRLight;

            &:hover, &:focus {
                text-shadow: 0 0 2px @grey7;
            }
        }
    }

    &__often-btn {
        width: 100%;
        max-width: 400px;
        margin: 25px 0 10px;
    }

    &__contacts {
        display: flex;
        flex-direction: row;

        &--wrap {
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            width: 100%;
        }

        @media screen and (max-width: 1024px) {
            flex-direction: column;

            &--wrap {
                align-items: unset;
                justify-content: center;
                margin-bottom: 20px;

                .detail__card:last-child {
                    margin: 0;
                }
            }

            .form {
                margin: 0 auto;
            }
        }

        @media screen and (max-width: 665px) {
            &--wrap {
                margin-bottom: 20px;
            }
        }

        @media screen and (max-width: 475px) {
            &--wrap {
                align-items: center;
                flex-direction: column;
                margin-bottom: 0;
            }
        }
    }

    &__card-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        transition: .3s;

        @media screen and (max-width: 1420px) and (min-width: 1071px) {
            .card:nth-child(n+4) {
                display: none;
            }
        }

        @media screen and (max-width: 475px) {
            .card {
                width: calc(100% / 2);
                padding: 3px;

                &__main {
                    padding: 7px;

                    &--title {
                        font-size: .7rem;
                    }

                    &--price {
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}

.detail__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 290px;
    max-width: 340px;
    padding: 40px 25px;
    border-radius: 15px;
    background-color: @white;
    box-shadow: 0px 4px 4px rgba(@black, .25);

    &.form {
        input, textarea {
            background-color: @whitegrey;
        }
    }

    &:not(.form) {
        margin: 0 20px 0 0;
    }

    > div {
        text-align: center;
    }

    &--image {
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 210px;
        margin-bottom: 18px;
        border-radius: 100%;

        img {
            width: 100%;

            object-fit: cover;
        }
    }

    &--name {
        margin: 18px 0 5px;
        font: 1.2rem/115% @FFRBold;
    }

    &--post {
        margin: 5px 0 15px;
        font: .9rem/115% @FFRLight;
    }

    &--tel {
        margin: 15px 0;
        font: 1.2rem/115% @FFRRegular;
    }

    &--email, &--time {
        font: .9rem/115% @FFRLight;
    }

    &--email {
        margin: 15px 0 .45rem;
    }

    &--time {
        margin-top: .45rem;
    }
}

@media screen and (max-width: 665px) {
    .detail__card:not(.form) {
        min-width: 200px;
        padding: 20px 10px;

        .detail__card {
            &--image {
                max-width: 90%;
                margin-bottom: 10px;
            }

            &--name {
                margin-top: 10px;
                font: 1rem/115% @FFRBold;
            }

            &--post {
                font: .8rem/115% @FFRLight;
            }

            &--tel {
                font: 1rem/115% @FFRRegular;
            }

            &--email, &--time {
                font: .8rem/115% @FFRLight;
            }
        }

        &:first-child {
            margin-right: 5px;
        }

        &:last-child {
            margin-left: 5px;
        }
    }
}

@media screen and (max-width: 475px) {
    .detail__card {
        &:not(.form) {
            margin: 0 auto 20px !important;
        }

        &--image {
            max-width: 150px !important;
            margin-bottom: 10px;
        }

        &--name {
            margin: 10px 0 3px;
        }

        &--post {
            margin: 3px 0 7px;
        }

        &--tel {
            margin: 7px 0;
        }

        &.form {
            min-width: unset;
            max-width: 340px !important;
            margin: 0 auto;
        }
    }
}