.filter {
    .dropdown {
        &--head {
            position: relative;
            display: none;
            padding: 10px 25px;
            cursor: pointer;
            transition: .3s;
            color: #848484;
            border: 1px solid transparent;
            border-radius: 15px;
            background-color: white;

            &::after {
                position: absolute;
                top: calc(50% - 13px / 2);
                right: 15px;
                display: inline-block;
                padding: 3px;
                content: "";
                transition: .3s;
                transform: rotate(45deg);
                border: solid black;
                border-width: 0 3px 3px 0;
            }

            &:hover, &:focus {
                color: #4C4C51;
                border: 1px solid rgba(#4C4C51, 15%);
            }
        }

        &--body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        @media screen and (max-width: 829px) {
            &--head {
                display: block;
            }

            &--body {
                visibility: hidden;
                flex-wrap: wrap;
                max-height: 0;
                padding: 0;
                transition: .3s ease-in-out;
                // overflow: hidden;
                opacity: 0;
            }

            &--input:checked {
                ~ .dropdown {
                    &--head {
                        color: #4C4C51;

                        &::after {
                            top: calc(50% - 13px / 4);
                            transform: rotate(-135deg);
                        }
                    }

                    &--body {
                        visibility: visible;
                        max-height: 700px;
                        padding: 10px 0;
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__checkbox-btn {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 520px;
        margin: 0 20px;

        @media screen and (max-width: 1200px) and (min-width: 830px) {
            flex-wrap: wrap;
            justify-content: center;
            max-width: calc(128px * 2 + 10px);
            margin: 0 10px;
        }

        @media screen and (max-width: 829px) {
            justify-content: center;
            width: calc(100% - 124px - 20px);
            margin: 0 0 0 20px;
        }

        @media screen and (max-width: 690px) {
            flex-wrap: wrap;

            > div {
                width: 50%;
                margin-bottom: 5px;
            }
        }

        @media screen and (max-width: 525px) {
            width: 100%;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 525px) {
        .link-to-index {
            display: none;
        }
    }

    input:checked ~ .filter--checkbox {
        color: #4C4C51;
        background-color: white;
        font-family: @FFRMedium;
    }

    &--checkbox {
        align-items: center;
        justify-content: center;
        margin: 0 2px;
        padding: 10px;
        cursor: pointer;
        transition: border .3s, background-color .3s;
        text-align: center;
        color: #AEAEAE;
        border: 1px solid transparent;
        border-radius: 5px;
        background-color: rgba(white, 30%);
        font: .7rem/115% @FFRRegular;

        &:hover, &:focus {
            border: 1px solid rgba(#4C4C51, 15%);
        }

        @media screen and (max-width: 1200px) and (min-width: 830px),
        screen and (max-width: 690px) {
            min-height: 60px;
            max-height: 60px;
        }

        @media screen and (max-width: 690px) {
            max-width: 100%;
        }
    }

    &__select {
        display: flex;
        flex-direction: row;
        width: 50%;
        height: 60px;
        padding-right: 10px;

        &--wrap {
            display: flex;
            align-content: space-between;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            max-width: 650px;
        }

        > div {
            display: flex;
            align-items: center;
            width: 100%;
            min-height: 60px;
            color: #AEAEAE;
            border-radius: 5px;
            font: .7rem/115% @FFRRegular;
        }


        @media screen and (max-width: 1440px) and (min-width: 1024px) and (max-height: 750px) {
            height: 50px;

            > div {
                min-height: 50px;
            }
        }


        @media screen and (max-width: 829px) {
            margin-bottom: 5px;

            &--wrap {
                max-width: unset;
                margin-top: 10px;
            }
        }

        @media screen and (max-width: 400px) {
            width: 100%;
            height: 40px;
            padding-right: 0px;

            > div {
                min-height: 40px;
            }

            &--wrap {
                flex-direction: column;
            }
        }
    }
}