.grid {
    &--wrap {
        padding: 20px 0;
        transition: .3s;

        @media screen and (max-width: 475px) {
            max-width: 350px;
            margin: 0 auto;
        }

        > .container {
            padding: 0 10px;
        }
    }
}

// Размеры
.card {
    width: calc(100% / 4);

    @media screen and (max-width: 1420px) {
        width: calc(100% / 3);
    }

    @media screen and (max-width: 1070px) {
        width: calc(100% / 2);
    }

    @media screen and (max-width: 475px) {
        width: 100%;
        max-width: 350px;
    }
}

// Стили
.card {
    padding: 10px;
    font-size: .9rem;
    line-height: 115%;

    &--wrap {
        position: relative;
        transition: .3s;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgba(@black, .25);

        &::after {
            position: absolute;
            top: 20px;
            right: 20px;

            filter: drop-shadow(0px 4px 4px rgba(@black, .14));

            @media screen and (max-width: 575px) {
                top: 10px;
                right: 10px;
            }
        }
    }

    &:hover {
        .card--wrap {
            box-shadow: 0px 4px 4px rgba(@black, .35);
        }
    }

    &.opened {
        .card--wrap {
            box-shadow: 0px 4px 4px rgba(@black, .45);
        }

        .extra {
            max-height: 600px;
            opacity: 1;
        }
    }

    .mark {
        position: absolute;
        top: 15px;
        right: 10px;

        svg {
            width: 30px;
            height: 30px;
            transition: .2s;

            fill: transparent;
            stroke: @grey4;
            stroke-width: 2;
        }

        &:hover {
            svg {
                filter: drop-shadow(0 0 1px rgba(@black, 50%));
                stroke: @grey6;
            }
        }

        @media screen and (max-width: 575px) {
            right: 10px;

            svg {
                width: 20px;
                height: 20px;
            }
        }

        @media screen and (max-width: 350px) {
            right: 5px;
        }

        &.saved {
            svg {
                fill: @yellow1;
                stroke: none;
            }
        }
    }


    &--img {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        max-width: 100%;
        cursor: pointer;

        img {
            width: 100%;
            height: auto;
            border-radius: 15px;
        }
    }

    &__main {
        position: relative;
        padding: 20px 25px;
        color: @greymain;

        @media screen and (max-width: 450px) {
            padding: 10px 15px;
        }

        &--title {
            position: relative;
            margin-right: 35px;
            margin-bottom: 10px;
            cursor: pointer;
            font: 1rem/115% @FFRRegular;

            @media screen and (max-width: 575px) {
                margin-right: 25px;
                font-size: .9rem;
            }
        }

        &--city {
            margin-bottom: 5px;
            color: @greymain;
            font: .7rem/115% @FFRLight;
        }

        &--price {
            margin-bottom: 10px;
            font: 1.2rem/115% @FFRBold;
        }

        &--desc {
            margin-bottom: 5px;
            font: .7rem/115% @FFRRegular;
        }

        &--link {
            display: inline-block;
            padding: 5px 0;
            color: @blue2;
            font: .7rem/115% @FFRRegular;

            &::before {
                background: @blue2;
            }
        }

        &--map {
            margin: 10px 0;

            img {
                width: 100%;
                max-width: 100%;
                height: 115px;
                border: 1px solid @grey8;
                border-radius: 15px;

                object-fit: cover;
            }
        }
    }

    &__note {
        margin: 10px 0;

        form {
            overflow: hidden;
            max-height: 0;
            transition: .3s;
        }

        &.detail__note textarea {
            min-height: 80px;
        }

        span {
            display: block;
            margin-bottom: 5px;
            cursor: pointer;
            transition: .3s;
            color: @grey2;
            font: .8rem/115% @FFRLight;

            &.hide {
                display: none;
            }

            &:hover {
                color: @greymain;
            }
        }

        input:checked {
            ~ span {
                &.hide {
                    display: block;
                }

                &.show {
                    display: none;
                }
            }

            ~ form {
                max-height: 1000px;
            }
        }
    }

    .extra {
        overflow: hidden;
        max-height: 0;
        transition: .3s ease-in-out;
        opacity: 0;
    }

    .info {
        display: flex;
        align-items: flex-end;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5px;

        .review {
            display: flex;
            align-items: center;
            flex-direction: row;
            color: @grey2;
            font-size: .7rem;
            line-height: 105%;

            svg {
                width: 17px;
                height: 12px;
                margin-left: 10px;

                fill: @grey2;
            }
        }
    }

    &.massanger:not(.instagram) {
        .card {
            &--wrap {
                padding: 20px 0 30px;
            }

            &--img {
                svg {
                    width: auto;
                    max-height: 110px;
                    margin: 0 auto;
                }
            }

            &--title {
                margin-top: 5px;
                text-align: center;
                color: @white;
                font: .9rem/115% @FFRRegular;
            }
        }
    }

    &.whatsapp {
        .card {
            &--wrap {
                background-color: @whatsapp;
            }
        }
    }

    &.telegram {
        .card {
            &--wrap {
                background-color: @telegram;
            }
        }
    }

    &.instagram {
        .card {
            &--wrap {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                min-height: 450px;
                padding: 15px;
                background-image: url(/assets/img/card/instagram.jpg);
                background-position: center;
                background-size: cover;
            }

            &--img {
                margin-top: 15px;
            }

            &--title {
                text-align: center;
            }

            @media screen and (max-width: 575px) {
                &--wrap {
                    min-height: 250px;
                }

                &--title {
                    text-shadow: 0 0 3px rgba(@black, .45);
                }
            }
        }
    }

    &.house, &.apartment, &.quarter {
        .card--wrap {
            background-color: @white;
        }
    }

    &.house {
        .card--wrap:after {
            content: url(/assets/img/icons/house.svg);
        }
    }

    &.apartment {
        .card--wrap:after {
            content: url(/assets/img/icons/apartment.svg);
        }
    }

    &.quarter {
        .card--wrap {
            display: block;

            &:after {
                content: url(/assets/img/icons/quarter.svg);
            }
        }

        .info {
            justify-content: flex-end;
        }
    }

    &.input {
        .card {
            &--wrap {
                background-color: @white;
            }

            &__main {
                &--title {
                    text-align: center;
                    color: @greymain;
                    font: 1.2rem/115% @FFRMedium;
                }

                input {
                    &[type="text"] {
                        width: 100%;
                        padding: 10px 15px;
                        transition: .3s;
                        border: 1px solid@grey4;
                        border-radius: 15px;
                        outline: none;
                        background: @grey4;
                        font: 1rem/115% @FFRRegular;

                        &::placeholder {
                            transition: .2s;
                            color: @grey8;
                        }

                        &:hover, &:focus {
                            border: 1px solid @greymain;
                        }

                        &:focus::placeholder {
                            opacity: 0;
                        }
                    }
                }

                &--link {
                    display: block;
                    margin: 20px auto 0;
                    border: none;
                    background: none;
                    font: 1.2rem/115% @FFRRegular;

                    &::before {
                        bottom: 3px;
                    }
                }
            }

            &--text {
                margin-top: 35px;
                padding: 0 25px;
                text-align: center;
                color: @black;
            }
        }
    }

    &.offer {
        display: flex;
        align-items: center;
        justify-content: center;

        .card--wrap {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            box-shadow: none;
        }

        .offer {
            &__icon {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 60px;
                transition: .3s;
                border-radius: 50%;
                background-color: @white;
                box-shadow: 0px 4px 4px rgba(@black, .25);

                svg {
                    width: 108px;
                    height: 108px;
                    transition: .3s;

                    fill: @greymain;
                }
            }

            &__text {
                margin-top: 25px;
                padding: 0 25px;
                transition: .3s;
                text-align: center;
                color: @greymain;
                font: 1.2rem/115% @FFRRegular;
            }
        }

        &:hover {
            .offer {
                &__icon {
                    box-shadow: 0px 4px 4px rgba(@black, .45);

                    svg {
                        fill: @greymain;
                    }
                }

                &__text {
                    color: @greymain;
                    text-shadow: 0 0 2px rgba(@black, .25);
                }
            }
        }
    }

    &.map {
        .card--wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 70px;
            color: @black;
            background: url(/assets/img/background/map-btn.jpg);
            background-position: center;
            background-size: cover;
            box-shadow: none;
            font: 1.1rem/115% @FFRMedium;

            &:hover {
                box-shadow: 0px 2px 4px rgba(@black, .15);
            }
        }
    }

    &.dzen {
        .card--wrap {
            padding: 15px 20px 20px;
            background-color: @white;
        }

        a {
            display: inline-block;
            padding: 5px;
            color: @blue2;

            &::before {
                background-color: @blue2;
            }
        }

        .dzen {
            &__img {
                margin-bottom: 5px;

                svg {
                    display: block;
                    width: auto;
                    max-width: 175px;
                    height: 35px;
                    margin: 0 auto;
                }

                @media screen and (max-width: 575px) {
                    svg {
                        height: 25px;
                    }
                }
            }

            &__author {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                img {
                    margin: 10px auto;
                    border-radius: 100%;
                }
            }

            &__post {
                margin: 7px auto 15px;
                text-align: center;

                &--title {
                    color: @black;
                    font: 1.1rem/115% @FFRMedium;
                }

                &--text {
                    margin: 10px auto 10px;
                    color: @greymain;
                    font: .7rem/115% @FFRLight;
                }
            }

            &__info {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
                font-size: .6rem;

                > div {
                    display: flex;
                    align-items: center;
                    flex-direction: row;

                    svg {
                        width: 15px;
                        height: 15px;
                        margin-right: 5px;

                        fill: @grey2;
                    }
                }

                &--date {
                    color: @greymain;
                    font-size: .7rem;
                }

                &--time, &--views {
                    color: @grey2;
                }
            }
        }
    }
}