.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    transition: opacity .3s;
    opacity: 0;
    background-color: rgba(black, 50%);

    &.open {
        display: flex;
        opacity: 1;

        .modal {
            &__content {
                transform: scale(1);
            }
        }
    }



    &--close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px 5px;
        padding: 10px;

        svg {
            width: 20px;
            height: 20px;
            transition: .3s;

            fill: #AEAEAE;
        }

        &:hover, &:focus {
            svg {
                fill: #303030;
            }
        }

        &:active {
            transform: scale(.98);
        }
    }

    &__content {
        width: 100%;
        // padding: 15px;
        max-width: 700px;
        transition: .3s;
        transform: scale(0);
        border: 1px solid #333;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0 0 10px 2px rgba(black, 20%);
    }

    &__header {
        position: relative;
        padding: 20px 40px;

        &--title {
            text-align: center;
            font: 1.2rem/115% @FFRMedium;
        }
    }
    @media screen and (max-height: 560px) {
        overflow: auto;
        align-items: flex-start;

        &__header {
            padding: 20px 40px 10px;
        }
    }
    &__body {
        padding: 0 10px;

        form {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width: 485px) {
                padding: 15px;
            }
        }
    }
}